@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;400;600;700&display=swap');*{
    margin: 0;
    padding: 0;
}
body, html{
    overflow-x: hidden;
}
body{
    font-family: sans-serif;
}
.top-menu ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    line-height: 21px;
}

.top-menu ul li a {
    text-align: center;
    margin: 10px 0;
    position: relative;
    display: inline-block;
}
.top-menu ul li.active:before {
    content:'';
    position: fixed;
    bottom: -4;
    left: 47%;
    height: 2px;
    background-color: rgb(25, 25, 43);
    width: 10%;
    transform: translateX(-50%);
}

a.btn-rounded-full-1.bg-white {
    color: #101C45;
    font-weight: bold;
    padding: 8px 10px;
}
a.btn-rounded-full.bg-white {
    color: #101C45;
    font-weight: bold;
    border: 1px solid #101C45;
    padding: 8px 10px;
    
}

.top-menu .btn-rounded-full {
    margin-top: 10px;
    display: inline-block;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: -10px;
}

.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}